@media screen and (min-width: 1024px) and (max-width: 3072px) /* Desktop stylesheet */
{

    .loginPage{
        width: 60%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .formLoginBox{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff30;
        border-radius: 8px;
        margin: 0 0 10px 0;
    }
    .formLogin{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .entryInformationUser{
        width: 30vw;
        height: 6vh;
        border-radius: 6px;
        outline: none;
        border: 0;
        margin: 6px 0;
        padding: 0 8px;
    }
    .submitInformationUser{
        width: 8vw;
        height: 5vh;
        border-radius: 6px;
        outline: none;
        border: 0;
        margin: 10px 0;
    }
    .ancorPage{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;
    }
    .linkAncor{
        margin: 0 10px;
        color: white;
    }
    .oAunthLoginGoogle{
        width: 100%;
        height: 30%;
        margin: 10px 0 0 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff30;
        border-radius: 8px;
    }
    .log{
        color: var(--orange-web);
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) /* Tablet stylesheet */
{
    
}

@media screen and (min-width: 0px) and (max-width: 767px) /* Mobile stylesheet */
{
    
}

